<div class="bg">
  <div class="header">
    <h1>Usuários:</h1>
  </div>  
  <div class="center">
      <% @users.each do |user| %>
        <div class="account-cont">
          <h3>Nome - <%= user.name %></h3>
          <h3>Email - <%= user.email %></h3>
          <h3>Ativo - <%= human_boolean(user.active) %></h3>
          <btn-group>
            <button><%= link_to 'Mostrar ', user %></button>
            <button><%= link_to 'Editar', edit_user_path(user) %></button>
            <button><%= link_to 'Excluir', user, method: :delete, data: { confirm: 'Are you sure?' } %></button>
          </btn-group>
        </div>  
      <% end %>
    <button>
      <%= link_to 'Nova Conta', new_user_path %>
    </button>
  </div>
</div>  