<div class="bg">
  <div class="center">
    <h1>Nome: <%= @user.name %></h1>
    <h1>Email: <%= @user.email %></h1>
    <h1>Ativo: <%= human_boolean(@user.active) %></h1>
    <h1>Contas: 
    <% @user.accounts.each do |account| %> 
      <%= account.company%>  
    <% end %></h1>    
    <button><%= link_to 'Editar', edit_user_path(@user) %></button> 
    <button><%= link_to 'voltar

    ', users_path %></button>
  </div>
</div>