<div class="bg">
  <div class="header">
    <h1>Postagens</h1>
  </div>  
  <div class="center">
    <% @posts.each do |post| %>
      <div class="title">
        <%= post.title %><hr>
      </div>
      <div class="content">
        <%= post.text %>
      </div>  
      <div class="btn-group">
        <button type="button" class="btn btn-default"><%= link_to t('list.action.show'), post %></button>
        <button type="button" class="btn btn-default"><%= link_to t('list.action.edit'), edit_post_path(post) %></button>
        <button type="button" class="btn btn-default"><%= link_to t('list.action.destroy'), post_path(post), method: :delete, data: { confirm: 'Tem Certeza?' } %></button>
      </div>  
    <% end %>
    <div class="pagination-cont">  
      <div class="pagination">
        <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
      </div>
    </div>  
  </div>  
</div>