<div class="bg">
  <div class="center">
	<p>
	  <h2>Título:</h2>
	</p>
	  <%= @post.title %>
	<p>
	  <h2>Texto:</h2>
	</p>  
	  <%= @post.text %>
	</p>	 
	<%= render @post.comments %>	 
	<h2>Comente!</h2>
	<%= render "comments/form" %>	 
	<div class="btn-group">
	  <button><%= link_to 'Editar Post', edit_post_path(@post) %></button>
	  <button><%= link_to 'Outros Posts', posts_path %></button>
	</div>
  </div>
</div>

