<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="navbar navbar-inverse" role="navigation">
  <p> Meu Blog </p>
  <div id="menu">
  	<ul>
  	  <li><%= link_to 'Usuários', users_path %> </li>
  	  <li><%= link_to 'Novo Usuário', new_user_path %></li>    
  	  <li>|</li>
  	  <li> <%= link_to 'Postagens', posts_path %> </li>
  	  <li><%= link_to 'Novo Post', new_post_path %></li>
      <li>|</li>
      <li> <%= link_to 'Contas', accounts_path %> </li>
      <li><%= link_to 'Novas Contas', new_account_path %></li>    

	</ul>
  </div>
</div>

<%= yield %>



</body>
</html>
