<%= form_for(@account) do |f| %>
  <% if @account.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul>
      <% @account.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h3>Nome</h3>
  <%= f.text_field :name %>
  <h3>Empresa</h3>
  <%= f.text_field :company %>
   <h3>Ativo</h3>
  <%=f.check_box :active %>
  <h3>Usuário</h3>
  <% @users.each do |user| %>
    <div class="lista"> 
      <%=check_box_tag "account[user_ids][]", user.id, @account.users.include?(user)%>
      <%=user.name %>
    </div>    
  <% end %>
 <%= f.submit %> 
  </div>
<% end %>
