<div class="bg">
  <div class="header">
    <h1>Contas</h1>
  </div>  
  <div class="center">
      <% @accounts.each do |account| %>
        <div class="account-cont">
          <h3>Nome - <%= account.name %></h3>
          <h3>Empresa - <%= account.company %></h3>
          <h3>Ativo - <%=human_boolean(account.active) %></h3>
          <btn-group>
            <button><%= link_to 'Mostrar ', account %></button>
            <button><%= link_to 'Editar', edit_account_path(account) %></button>
            <button><%= link_to 'Excluir', account, method: :delete, data: { confirm: 'Are you sure?' } %></button>
          </btn-group>
        </div>  
      <% end %>
    <%= link_to 'New Account', new_account_path %>
  </div>
</div>  