<div class="bg">
  <div class="center">
    <h1>Nome: <%= @account.name %></h1>
    <h1>Email: <%= @account.company %></h1>
    <h1>Ativo: <%= human_boolean(@account.active) %></h1>
    <h1>Contas: 
    <% @account.users.each do |user| %> 
      <%= user.name%>  
    <% end %></h1>    
    <button><%= link_to 'Editar', edit_account_path(@account) %></button> 
    <button><%= link_to 'voltar', account_path %></button>
  </div>
</div>
